/* Loading */

.setup-loading-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #97D2FB;
}

.setup-loading-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setup-loading-svg {
    width: 64px;
    height: 64px;
}

.ios-safari-bottom {
    width: 100vw;
    height: 75px;
}

/* Setup */

.setup-action-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #97D2FB;
}

.setup-action-navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-color: white;
}

.setup-action-navigation-container span {
    font-size: 14pt;
    font-family: "Inter", sans-serif;
    color: chocolate;
    font-weight: bold;
}

.setup-action-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setup-action-game-code-title {
    color: white;
    font-size: 21pt;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.setup-action-game-code {
    color: white;
    font-size: 32pt;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.setup-action-game-code-input {
    width: 192px;
    height: 60px;
    font-size: 14pt;
    border-radius: 37px;
    font-family: "Inter", sans-serif;
    text-align: center;
    outline: none;
    border: none;
}

.setup-action-enter-game-button {
    width: 192px;
    height: 60px;
    background-color: teal;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    cursor: pointer;
}

.setup-action-enter-game-button span {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 12pt;
}

.setup-action-enter-game-button img {
    width: 20px;
    height: 20px;
}

.setup-action-create-game-button {
    padding: 30px 10px 10px 10px;
    color: chocolate;
    font-family: "Inter", sans-serif;
    font-size: 12pt;
    cursor: pointer;
}

.setup-action-create-game-loading {
    width: 20px;
    height: 20px;
    margin-top: 36px;
}