/* Loading */

.waiting-loading-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #97D2FB;
}

.waiting-loading-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waiting-loading-svg {
    width: 64px;
    height: 64px;
}

.ios-safari-bottom {
    width: 100vw;
    height: 75px;
}

/* Waiting */

.waiting-action-and-chat-container {
    display: flex;
    flex-direction: row;
}

.waiting-action-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: #97D2FB;
}

.waiting-action-navigation-center-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    background-color: white;
}

.waiting-action-navigation-middle-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.waiting-action-navigation-middle-container span {
    font-size: 14pt;
    font-family: "Inter", sans-serif;
    color: chocolate;
    font-weight: bold;
}

.waiting-action-navigation-side-container {
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

.waiting-action-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.waiting-action-game-code-title {
    color: white;
    font-size: 21px;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.waiting-action-game-code {
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.waiting-action-names-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.waiting-action-names-list-item-container {
    padding: 10px;
    padding-bottom: 0;
    position: relative;
}

.waiting-action-names-list-item-container span {
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.waiting-action-enter-game-button {
    min-width: 192px;
    max-width: 192px;
    min-height: 44px;
    max-height: 44px;
    background-color: #2292a4;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}

.waiting-action-enter-game-button span {
    color: white;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.waiting-action-enter-game-button img {
    width: 20px;
    height: 20px;
}

.waiting-action-ready-game-button {
    width: 192px;
    height: 54px;
    background-color: #4BC6B9;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    cursor: pointer;
}

.waiting-action-ready-game-button span {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}

.waiting-action-wait-game-button {
    width: 192px;
    height: 54px;
    background-color: #FF5666;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    cursor: pointer;
}

.waiting-action-wait-game-button span {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}

.waiting-action-create-game-button {
    padding: 20px 10px 10px 10px;
    color: #F56476;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.waiting-action-create-game-loading {
    width: 20px;
    height: 20px;
    margin-top: 36px;
}

.waiting-host-actions-container {
    margin: 20px auto;
    display: block;
}

.waiting-host-actions-privacy-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px 5px 32px;
}

.waiting-host-actions-privacy-title-container p {
    color: #333333;
    font-size: 10pt;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.waiting-host-actions-privacy-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 256px;
    height: 44px;
    border-radius: 7px;
    border: 1px solid #5386E4;
    overflow: hidden;
    margin-bottom: 15px;
}

.waiting-host-actions-privacy-separator {
    width: 1px;
    height: 44px;
    background-color: #5386E4;
}

.waiting-host-actions-privacy-item-container {
    height: 44px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.waiting-host-actions-privacy-item-container span {
    color: white;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
}

.waiting-host-actions-max-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px 5px 7px;
}

.waiting-host-actions-max-title-container p {
    color: #333333;
    font-size: 10pt;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.waiting-host-actions-max-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 312px;
    height: 44px;
    border-radius: 7px;
    border: 1px solid #5386E4;
    overflow: hidden;
}

.waiting-host-actions-max-separator {
    width: 1px;
    height: 44px;
    background-color: #5386E4;
}

.waiting-host-actions-max-item-container {
    height: 44px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.waiting-host-actions-max-item-container span {
    color: white;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
}

.waiting-action-room-data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.waiting-action-room-data-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.waiting-action-room-data-item-container span {
    color: black;
    font-size: 11pt;
    font-family: "Open Sans", sans-serif;
}

.waiting-action-room-data-item-container strong {
    color: black;
    font-size: 11pt;
    font-family: "Open Sans", sans-serif;
    margin-left: 5px;
    font-weight: 700;
}

.player-title-image {
    position: absolute;
    top: 5px;
    right: 0;
    width: 16px;
    height: 16px;
}

@media only screen and (max-width: 500px) {
    .waiting-action-navigation-side-container {
        width: 128px;
    }
}