.buy-me-a-coffee-button {
    padding: 6px 12px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(230, 230, 230, 0.5);
    cursor: pointer;
    text-decoration: none;
}

.buy-me-a-coffee-button:hover {
    background-color: rgba(220, 220, 220, 0.5);
}

.buy-me-a-coffee-button img {
    height: 18px;
    object-fit: contain;
}

.buy-me-a-coffee-button p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #333333;
    white-space: nowrap;
    margin-left: 8px;
}

@media only screen and (max-width: 500px) {
    .buy-me-a-coffee-button p {
        display: none;
    }
}